<doctype html>

<h2>{{ name }}</h2>
<h3>{{ artist }}</h3>
<h3>{{ genre }}</h3>
<h3>{{ rating }}</h3>
<h3>{{ album_id }}</h3>

<form action="{{ url_for('album') }}" method="post">
	 {% if template_data['reviews']|length == 0 %}
        <p style="color: red;">No Reviews</p>
        {% else %}
        <ul>
            {% for review in template_data['reviews'] %}
            <li>
                {{ review[3] }}
				{{ review[2] }}
				{{ review[1] }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
	<button name="createreview">Create Review</button>
	<button name="home">Home</button>
</form>