<doctype html>
<title>Music Reviewer</title>

<h1>Album: {{ name }}</h1>
</br>
<h3>Artist: {{ artist }}</h3>
<h3>Genre: {{ genre }}</h3>
<h3>Rating: {{ rating }}</h3>
<h3>Number of Reviews: {{ num }}</h3> 

<h3>All Reviews: </h3>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('album') }}" method="post">
	 {% if template_data|length == 0 %}
        <p style="color: red;">No Reviews</p>
        {% else %}
        <ul>
            {% for review in template_data %}
                <h3> Review by: {{ review[13] }}</h3>
				<h4>Date: {{ review[3] }}
				Score: {{ review[2] }}</h4>
				Comment: {{ review[1] }}
				</br>
				</br>
            {% endfor %}
        </ul>
        {% endif %}
	<button name="createreview">Create Review</button>
	<button name="home">Home</button>
</form>