<doctype html>
<head>
    <title>Music Reviewer</title>
</head>
 
<h2>Edit Your Review for {{ album }}</h2>

</br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('edit') }}" method="post">
	Score (1 - 100):
	</br>
	<textarea rows="1" cols="3" name="score" id="score">{{ prevscore }}</textarea>
	</br>
	Comment (optional):
	</br>
	<textarea rows="5" cols="80" name="comment" id="comment" placeholder="Enter review here...">{{ prevcomment }}</textarea>
	</br>
	<button type="submit" name="submit">Submit Changes</button>
	<button type="submit" name="cancel">Cancel</button>
</form>