<doctype html>
<head>
    <title>Music Reviewer</title>
</head>
 
<h2>Music Reviewer</h2>

</br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('home') }}" method="post">
	<input type="text" class="form-control" id="album" name="album" placeholder="Enter album name here...">
	<button type="submit" name="search">Search</button>
  <button type="submit" name="account">Account</button>
  <button class="btn btn-primary" href="{{ url_for('logout') }}"> Logout </button>
</form>

