<doctype html>
<head>
    <title>Music Reviewer</title>
</head>
 
<h2>Review for {{ album }}</h2>

</br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{ url_for('createreview') }}" method="post">
	<input type="int" class="form-control" id="score" name="score" placeholder="Enter score (1 - 100) here...">
	</br>
	<input type="text" class="form-control" id="comment" name="comment" placeholder="Enter review here...">
	</br>
	<button type="submit" name="submit">Submit</button>
	<button type="submit" name="home">Home</button>
</form>